# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Database
*.db
*.sqlite3

# Environment
.env

# AI Models
models/

# Build
build/
dist/

# OS Files
.DS_Store
Thumb.db
#NEVER
data/laya.key
data/*.db